
        body { font-family: Arial, sans-serif; background: #121212; color: #ffffff; display: flex; flex-direction: column; align-items: center; padding: 20px; }
        .card { border: 1px solid #444; padding: 20px; margin: 10px; border-radius: 8px; background: #1e1e1e; width: 90%; max-width: 900px; text-align: center; position: relative; }
        .card-id { font-size: 12px; color: #aaa; text-decoration: none; position: absolute; top: 5px; right: 10px; }
        .tags { font-size: 12px; color: #aaa; margin-top: 10px; border-top: 1px solid #444; padding-top: 5px; }
        img { max-width: 100%; height: auto; display: block; margin: 10px auto; }
        .extra-info-button { background-color: #333; color: #fff; border: none; padding: 5px 10px; cursor: pointer; margin-top: 5px; border-radius: 5px; text-decoration: none; display: inline-block; }
        .extra-info-button:hover { background-color: #555; }
        